@-moz-document regexp("https?://(www\\.)?amazon\\.(com(\\.au)?|co\\.(uk|jp)|ca)/([^/]+/)?dp/[A-Z0-9]+/.*"), regexp("https?://(www\\.)?amazon\\.(com(\\.au)?|co\\.(uk|jp)|ca)/s?.*i=(digital-text|stripbooks|audible).*") {
/* Search results stars*/
div.template\=SEARCH_RESULTS div.a-row.a-size-small {
    display: none !important;
}

/* Search filter */
div#reviewsRefinements {
    display: none !important;
}

/* Recommendation Star Ratings */
div#rhf div.a-icon-row{
    display: none !important;
}

}
