/* General Site Locations */
div.communityRating, /* Main Feed */
div.wtrStarsContainer, /* Main Feed, my rating */
div.userRating,
div.stars {
    display: none !important;
}

/* Book Page Locations */
div.BookPageMetadataSection__ratingStats,
div.BookRatingStars,
div.AverageRating,
div.ReviewsSectionStatistics,
div.ReviewsList span.RatingStars,
article.ReviewCard span.RatingStars {
    display: none !important;
}

/* More Reviews Page */
div.CommunityShelvingSignalList {
    display: none !important;
}

/* Create Review */
label[for='review_rating'],
span.clearRating {
    display: none !important;
}

/* Lists Page */
span.minirating {
    display: none !important;
}

/* Profile Page Feed */
span.staticStars,
div.ratingStars {
    display: none !important;
}

/* Stats Page */
div.avgRating {
    display: none !important;
}

/* Explore Page */
article.ReviewCardSmall span.RatingStars {
    display: none !important;
}

/* My Books Average Ratings */
td.avg_rating > div.value {
    display: none !important;
}

/* Homepage Panel to Improve Recommendations */
div[data-react-class='ReactComponents.ImproveRecommendations'] {
    display: none !important;
}

/* Highest rated book on the "Year in Books" page */
div.crowdFavoriteWidget,
div.crowdFavoriteWidget + hr {
    display: none !important;
}
